.item-template .product-image{
   width: 100px;
   height: 100px;
}

.item-template .product-number p{
   margin: 0;
}

.item-template .product-image img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
}

.item-template .product-info {
   width: 222px;
}

.item-template .product-info h2{
   font-size: 15px;
   font-weight: 600;
}
.item-template .product-info h4, 
.item-template .product-info p,
.item-template .product-status p,
.item-template .product-seller p{
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 3px;
}

.item-template .product-info h4 del{
   color: #afafaf;
}

.item-template .product-info h4 span{
   color: #607ba1;
   font-weight: 700;
}

.item-template .product-status {
   width: 173px;
   text-align: center;
}

.item-template .product-seller {
   width: 173px;
}

.item-template .product-seller p span img{
   width: 17px;
}

.item-template .product-action {
   width: 60px;
}

.item-template .product-action button {
   border-radius: 100px;
   padding: 6px 13px;
   font-size: 25px;
   line-height: 38px;
}