.advertised-area{
   background: #FFF;
   padding: 50px 0 0;
}

.advertised-area h2{
   font-weight: 700;
   font-size: 36px;
   line-height: 130%;
   color: #1E212C;
   text-align: center;
   margin-bottom: 20px;
}