#signInArea{
   background: rgb(49 61 77);
   padding: 50px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

#signInArea .signin-inputs{
   width: 450px;
   margin: 0 auto;
   text-align: center;
}

#signInArea .signin-inputs h2{
   font-weight: 700;
   font-size: 28px;
   line-height: 150%;
   color: #ffffff;
   padding-bottom: 10px;
   margin: 0;
}

#signInArea .signin-inputs p{
   font-size: 14px;
   line-height: 175.78%;
   color: #ffffff;
   margin-bottom: 0px;
}

#signInArea .user-form p {
   font-weight: 400;
   font-size: 14px;
   padding: 25px 0px 0px;
   text-align: center;
}

#signInArea .user-form button {
   margin-top: 15px;
   width: 100%;
   padding: 17px 0px;
   font-size: 16px;
   line-height: 17px;
}

#signInArea .user-platform{
   padding: 20px 0px;
}

#signInArea .user-platform svg {
   font-size: 25px;
   margin-right: 8px;
}

#signInArea .user-platform h4 {
   font-size: 14px;
   line-height: 150%;
   color: #ffffff;
   margin: 20px 0 0 0;
}

/* Input Field Design */
#emailInput, 
#passwordInput, 
#nameInput, 
#urlInput, 
#numberInput, 
#textareaInput,
#imageInput {
   background: #FFFFFF;
   border: 1px solid #EFEFEF;
   width: 100%;
   padding: 17px 15px;
   margin-top: 15px;
   font-size: 16px;
   line-height: 17px;
   color: #5C5C5C;
   border-radius: 100px;
   height: 60px;
}

#emailInput:focus, 
#passwordInput:focus,
#nameInput:focus,
#urlInput:focus,
#selectInput:focus,
#numberInput:focus,
#textareaInput:focus {
  outline: 0;
  box-shadow: none;
}

.select-input {
   width: 100%;
   background: #fff;
   margin-top: 15px;
   border-radius: 100px;
}

#selectInput, 
#selectInput2 {
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
   background-image: url("data:image/svg+xml;utf8,<svg fill=%27black%27 height=%2724%27 viewBox=%270 0 24 24%27 width=%2724%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M7 10l5 5 5-5z%27/><path d=%27M0 0h24v24H0z%27 fill=%27none%27/></svg>");
   background-repeat: no-repeat;
   background-position-x: 97%;
   background-position-y: 15px;
   border: 1px solid #EFEFEF;
   width: 100%;
   padding: 15px 15px;
   border-radius: 100px;
   height: 60px;
}

#numberInput::-webkit-outer-spin-button,
#numberInput::-webkit-inner-spin-button{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

input:-moz-read-only { /* For Firefox */
   background-color: #e3e3e3 !important;
}

input:read-only {
   background-color: #e3e3e3 !important;
}

/* Responsive Media Query */
@media only screen and (max-width: 575.98px) {
   #signInArea .signin-inputs {
      width: 100%;
  }
}